# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# Spring Datasource
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Kakao OAuth2 Configuration
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_ADMIN_KEY=

# JWT
JWT_SECRET=

# Anthropic
ANTHROPIC_API_KEY=

# Frontend
NEXT_PUBLIC_API_BASE_URL=